
/* 1. CONFIGURAÇÃO DA TELA */
body {
    background-color: #f4f4f9; /* fundo do  site */
    font-family: Arial;        /* Letra  */
    text-align: center;       /* Joga a caixa do formulário no meio da tela */
    padding-top: 30px;      
}

/* 2. TEXTOS DA PÁGINA */
h2 {
    color: #006468;            
}

p {
    color: gray;               /* Texto de apoio  */
}

/* 3. A CAIXA DO FORMULÁRIO */
form {
    background-color: #e6f4f4; /*  menu */
    width: 400px;                /* Largura fixa  */
    margin: 0 auto;              /* Alinha a caixa  no centro */
    padding: 20px;              
    border: 2px solid #006468;   /* Borda com o verde escuro */
    text-align: left;            /* Faz as perguntas ficarem retas na esquerda */
}

/* 4. AS CAIXAS DE CADA PERGUNTA */
fieldset {
    background-color: white;  /* Fundo de cada bloco fica branco limpo */
    border: 1px solid gray;   /* Bordinha cinza */
    margin-bottom: 15px;     
    padding: 10px;
}

/* 5. OS ENUNCIADOS DAS PERGUNTAS */
legend {
    color: #006468;            /* Letras em verde escuro */
    font-weight: bold;        /* o texto em negrito */
}

/* 6. CONFIGURAÇÃO DAS CAIXAS DE ESCREVER (NOME, EMAIL, CIDADE) */
input[type="text"] {
    width: 100%;            
    padding: 5px;            
    margin-top: 5px;          
}

/* 7. O BOTÃO DE ENVIAR */
input[type="submit"] {
    background-color: rgb(6, 141, 96); /* O verde médio dos seus botões */
    color: white;                     
    width: 100%;                       
    padding: 12px;                    
    font-weight: bold;                
    border: none;                 
    cursor: pointer;                   /* Transforma o mouse na mãozinha de clique */
}   