/* margin = espaço externo do elemento */
/* padding = espaço interno do elemento */
/* width = largura */
/* height = altura */
/* overflow: hidden = esconde conteúdo que ultrapassa o limite */
/* font-family = define a fonte do texto */
/* background-color = cor de fundo */

/* display: flex = ativa o Flexbox */
/* flex-direction: column = organiza os elementos em coluna */

/* color = cor do texto */
/* font-size = tamanho da fonte */

/* flex: 1 = ocupa o espaço disponível */
/* border: none = remove a borda */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.container-mapa {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



h2 {
    color: #006468;
    margin: 0;
    font-size: 1.125rem; /* Equivalente a 18px, mas responsivo */
}

p {
    margin: 3px 0 0 0;
    font-size: 0.75rem; /* Equivalente a 12px, mas responsivo */
    color: #666666;
}

.mapa-interativo {
    flex: 1;
    width: 100%;
    height: 100%; /* Garante o preenchimento total no eixo vertical */
    border: none;
}